{#
/**
 * @file
 * Default theme implementation of azure entity moderation composite.
 *
 * Available variables:
 * - content: The azure entity modertaion webform to be output.
 *
 * @ingroup themeable
 */
#}

<div class="azure-moderation-webform-element">
    {% if content.value %}
        <div class="element-value">
            {{ content.value }}
        </div>
    {% endif %}
    {% if content.override %}
        <div class="element-override">
            {{ content.override }}
        </div>
    {% endif %}
</div>
